html { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body{
	
	background:transparent;
	font-family: Georgia, serif;

}


#heading{

	margin-bottom: 10px;

}

#header{

	text-align: center;
	float: left;
	margin-top: 150px;

}


a{

	text-decoration: none;
	color: green;
}

a:hover{

	text-decoration: none;
	color: green;
}

#message{

	text-align: center;
	margin: auto;
	margin-top: 10px;
}

textarea{

	width: 100vw;
    height: 85vh;
    border-radius: 5px;
    border:1px solid black;
    box-shadow: 2px 2px 10px;
}


form{

	margin-bottom: 10px;
}

.form-control{

	width: 50%;
	margin: auto;	

}

#logIn{

	display: none;
}

#error{

	width: 50%;
	margin: auto;
	text-align: center;	
}

#forgetpassword{

	display: none;
}

